@charset "utf-8";
/* CSS Document */
body{
	height:800px;;
	padding:0;
	margin:0;
	
}

div{
	border:2px solid #333;
}

.topbar{
	height:10%;
	text-align:right;
}

ul li{
	display:inline;
	text-decoration:underline;
	text-color:black;
}
.centerpiece{
	height:60%;
	text-align:center;
}

img{
	height:40%;
}

.centerpiece>span{
	width:536px;
	height:38px;
}

.inputarea{
	width:400px;
}



.baidubutton{
	color:white;
	background-color:#38f;
	text-align:center;
	font-size:16px;
	width:60px;
}
/* next part*/
.bottombar{
	height:30%;
	font-size:12px;
}

.bottom-container{
	margin:70px auto;
}

.bottombar>.bottom-container>p{
	text-align:center;
	margin-top:60p%;
	color:#999;
}

.bottombar>.bottom-container>p>a{
	text-decoration:underline;
	color:#999;
}